{% extends "base.html" %}
{% block title %}TrashNet - Dashboard Completo{% endblock %}

{% block content %}
    {% include "partials/_header.html" %}

    <div class="dashboard-grid">
        {% include "partials/_status_card.html" %}
        {% include "partials/_controls_card.html" %}
        {% include "partials/_charts.html" %}
    </div>

    {% include "partials/_classifications.html" %}
    {% include "partials/_confidence_chart.html" %}
    {% include "partials/_modal_system_info.html" %}
{% endblock %}

{% block scripts %}
    {% include "partials/_scripts.html" %}
{% endblock %}
